# Group By in Pandas:
### Group By is used to group data based on a column and so we can easily perform aggression funciton on the group data AVG() SUM() etc...

In [3]:
import pandas as pd
import numpy as np
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [27]:
speeds.groupby("class")  # how to used the groupby on pnadas dataframe

In [31]:
speeds.groupby("class").sum()

                              order  max_speed
class
bird    FalconiformesPsittaciformes      413.0
mammal   CarnivoraPrimatesCarnivora      138.2

In [32]:
speeds.groupby("class").min()

                order  max_speed
class
bird    Falconiformes       24.0
mammal      Carnivora       58.0

In [34]:
speeds.groupby("class").max()

                 order  max_speed
class
bird    Psittaciformes      389.0
mammal        Primates       80.2

In [37]:
speeds.groupby("class").describe()

       max_speed
           count   mean         std   min     25%    50%     75%    max
class
bird         2.0  206.5  258.093975  24.0  115.25  206.5  297.75  389.0
mammal       2.0   69.1   15.697771  58.0   63.55   69.1   74.65   80.2

In [52]:
speeds.groupby("class").describe().loc["bird"]["max_speed"]["count"]

2.0

In [56]:
speeds.groupby("class").count().loc["bird"]["max_speed"]

2

In [71]:
speeds.groupby("class").describe().transpose()["bird"]["max_speed"]["count"]

2.0

In [75]:
speeds.groupby("class").describe().loc["bird","max_speed"]["count"]

2.0