## Operations in pandas

In [1]:
import numpy as np
import pandas as pd
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [2]:
speeds

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [6]:
speeds["class"].unique()

array(['bird', 'mammal'], dtype=object)

In [7]:
speeds.nunique()

class        2
order        4
max_speed    4
dtype: int64

In [11]:
speeds["class"].value_counts()

class
mammal    3
bird      2
Name: count, dtype: int64

In [21]:
speeds.sort_values(by=["class","max_speed"]) # sorting is also done with  the help of sorrting method of the pandas

          class           order  max_speed
parrot     bird  Psittaciformes       24.0
falcon     bird   Falconiformes      389.0
leopard  mammal       Carnivora       58.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN

In [22]:
#  selection of valus in pandas dataframe

In [27]:
speeds[(speeds["class"] == "bird" )& (speeds["max_speed"]< 39)]

       class           order  max_speed
parrot  bird  Psittaciformes       24.0

In [30]:
speeds["class"].apply(lambda x:x.upper())

falcon       BIRD
parrot       BIRD
lion       MAMMAL
monkey     MAMMAL
leopard    MAMMAL
Name: class, dtype: object

In [31]:
speeds.index

Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [32]:
speeds.columns

Index(['class', 'order', 'max_speed'], dtype='object')

In [42]:
speeds[speeds["max_speed"].isnull()].shape

(1, 3)

In [43]:
speeds.loc["newRow"]= speeds.sum()

In [44]:
speeds

,class,order,max_speed
falcon,bird,Falconiformes,389.0
parrot,bird,Psittaciformes,24.0
lion,mammal,Carnivora,80.2
monkey,mammal,Primates,NaN
leopard,mammal,Carnivora,58.0
newRow,birdbirdmammalmammalmammal,FalconiformesPsittaciformesCarnivoraPrimatesCa...,551.2

In [51]:
speeds["s"]= speeds.sum(axis=0)

In [52]:
speeds

,class,order,max_speed,newRow,s
falcon,bird,Falconiformes,389.0,NaN,NaN
parrot,bird,Psittaciformes,24.0,NaN,NaN
lion,mammal,Carnivora,80.2,NaN,NaN
monkey,mammal,Primates,NaN,NaN,NaN
leopard,mammal,Carnivora,58.0,NaN,NaN
newRow,birdbirdmammalmammalmammal,FalconiformesPsittaciformesCarnivoraPrimatesCa...,551.2,0,0